<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Book Directory</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>

        <a class="nav-link" href="/book">Books</a>

        <a class="nav-link" href="/book/new">New Book</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(user){ %>
        <a href="" class="nav-link">Welcome <%= user.name %></a>
        <a class="nav-link" href="/logout">logout</a>
        <% } else{ %>
        <a class="nav-link" href="/signin">Sing In</a>
        <a class="nav-link" href="/signup">Sign Up</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
